body {
  margin-top: 0;
}

.App {
  text-align: center;
  
  background-color: gray;
}

.App header {
  width: 100%;
  background-color: gray;
  margin-top: 0px;
}

.post {
  width: 80%;
  margin: 20px auto;
  background-color: rgb(213, 215, 218);
  padding: 20px;
  border: 2px solid black;
  border-radius: 1px;
}